.details-container {
  background-image: url("https://static.dw.com/image/39219505_605.jpg");
  background-position: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  align-items: center;
  /* justify-items: center; */
  /* gap: 1rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem; */
  padding: 0 2.5rem;
  backdrop-filter: blur(3px) saturate(100%);
  /* width: 40rem;
  height: 40rem; */
  margin: 10rem 15rem;
  -webkit-backdrop-filter: blur(3px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.61);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card h1 {
  color: #fff;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 3.25rem;
  text-transform: uppercase;
  line-height: 1.95;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.125); */
}

.card p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  border-top: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem;
  align-self: center;
}

.card ul {
  display: flex;
  justify-content: space-around;
  color: #fff;
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 1rem;
}

.card li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
