.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}

.search-field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 40rem;
}

.search-field:focus {
  outline: none;
}

.search-field::placeholder {
  color: #d3c7c3;
}

.search-icons {
  margin-right: 1.5rem;
}

.btn-random {
  margin-left: 3rem;
}
