@font-face {
  font-family: "Bootle";
  src: url("./fonts/BOOTLE.woff") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url("./fonts/BOOTLE.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 65.5%; /*conversao pra fazer 1rem = 10 px */
}

body {
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/src/assets/vecteezy_yellow-submarine-with-bubbles-the-beatles-seamless_4272748.png);
  background-size: 70rem;
  font-family: "Rubik", sans-serif;
}
